/**
 * * Docs global styles
 * 
 * Make sure this is imported in your base global.css file like so:
 * @import "@/docs/styles/docs-global.css";
 *
 * This infer color tokens from the base tailwind-theme.css file, which allows
 * you to match color theming from a base site (if adding this to an existing theme by Cosmic Themes)
 */

@layer base {
  #documentation-layout {
    /* starwind component variables (will override a base global.css file styles) */
    --background: var(--color-base-50);
    --foreground: var(--color-base-900);
    --card: var(--color-base-50);
    --card-foreground: var(--color-base-950);
    --popover: var(--color-base-50);
    --popover-foreground: var(--color-base-950);
    --primary: var(--color-primary-600);
    --primary-dark: var(--color-primary-800);
    --primary-foreground: white;
    --secondary: var(--foreground);
    --secondary-foreground: var(--background);
    --muted: var(--color-base-200);
    --muted-foreground: var(--color-base-700);
    --accent: var(--color-primary-600);
    --accent-foreground: var(--color-base-50);
    --info: var(--color-sky-200);
    --info-foreground: var(--color-sky-950);
    --success: var(--color-green-300);
    --success-foreground: var(--color-green-950);
    --warning: var(--color-amber-300);
    --warning-foreground: var(--color-amber-950);
    --error: var(--color-red-700);
    --error-foreground: var(--color-base-50);
    --border: var(--color-base-300);
    --input: var(--color-base-300);
    --outline: var(--primary);

    --radius: 0.8rem;
    --default-transition-duration: 250ms;

    /* Various docs variables */
    --nav-height: 4rem;
    --main-content-pt: 1.5rem;
    --expressive-code-bg: var(--color-base-800);
    --expressive-code-bg-darker: var(--color-base-900);

    /* default font */
    font-family: var(--font-sans);
    /* letter-spacing: -0.01em; */
  }

  #documentation-layout.dark,
  #documentation-layout .dark {
    /* starwind component variables (will override a base global.css file styles) */
    --background: var(--color-base-950);
    --foreground: var(--color-base-50);
    --card: var(--color-base-950);
    --card-foreground: var(--color-base-50);
    --popover: var(--color-base-950);
    --popover-foreground: var(--color-base-50);
    --primary: var(--color-primary-700);
    --primary-dark: var(--color-primary-800);
    --primary-foreground: var(--color-base-50);
    --secondary: var(--foreground);
    --secondary-foreground: var(--background);
    --muted: var(--color-base-900);
    --muted-foreground: var(--color-base-400);
    --accent: var(--color-primary-400);
    --accent-foreground: var(--color-base-950);
    --info: var(--color-blue-300);
    --info-foreground: var(--color-blue-950);
    --success: var(--color-green-300);
    --success-foreground: var(--color-green-950);
    --warning: var(--color-amber-300);
    --warning-foreground: var(--color-amber-950);
    --error: var(--color-red-800);
    --error-foreground: var(--color-base-50);
    --border: var(--color-base-800);
    --input: var(--color-base-800);
    --outline: var(--primary);

    --expressive-code-bg: var(--color-base-900);
    --expressive-code-bg-darker: var(--color-base-950);

    @apply scheme-dark;
  }

  /* starwind preflight merged with Cosmic Themes */
  * {
    @apply border-border;
  }
  *:focus-visible {
    @apply outline-outline !transition-none;
  }
  html {
    @apply bg-background text-foreground leading-[1.7rem] scheme-light dark:scheme-dark;
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    /* prevent layout shift */
    scrollbar-gutter: stable;
  }
  button {
    @apply cursor-pointer;
  }
  .expressive-code .copy button {
    border-radius: 9999px !important;
  }
}

@layer components {
  .docs-h1 {
    @apply font-heading text-3xl font-medium tracking-wide md:text-4xl;
  }

  .docs-h2 {
    @apply font-heading text-2xl font-medium tracking-wide md:text-3xl;
  }

  .docs-h3 {
    @apply font-heading text-xl font-medium tracking-wide md:text-2xl;
  }

  /* styles for top navbar elements like links, theme toggle, language switcher, etc. */
  .docs-nav__link--base {
    /* @apply text-muted-foreground hover:text-foreground transition-colors; */
    @apply text-foreground hover:text-muted-foreground transition-colors;
  }

  /* styles for the current top navbar element */
  .docs-nav__link--current {
    @apply text-muted-foreground;
  }

  /* styles for sidebar and heading links */
  .docs-nav__link--sidebar {
    @apply text-muted-foreground hover:border-muted-foreground hover:text-foreground border-l border-transparent transition-colors;
  }

  /* styles for current sidebar and heading links */
  .docs-nav__link--sidebar-current {
    @apply text-foreground border-accent hover:border-accent;
  }

  .docs-site-container {
    @apply mx-auto max-w-5xl px-4;
  }

  .docs-home-container {
    @apply mx-auto max-w-[90rem] px-4;
  }
}

@layer utilities {
  /* focus utility class (for when user is tabbing through items on page) */
  .docs-primary-focus {
    @apply focus-visible:outline-outline focus-visible:rounded-xs focus-visible:outline-2 focus-visible:outline-offset-[-2px] focus-visible:transition-none;
  }

  /* Used for some headings */
  .docs-text-gradient {
    @apply text-foreground;
    /* @apply from-foreground to-foreground/90 dark:to-foreground/60 bg-gradient-to-r bg-clip-text text-transparent; */
  }

  .rotate-180 {
    @apply rotate-180;
  }

  /* transition-colors but without outline-color transition property */
  .starwind-transition-colors {
    transition-property:
      color, background-color, border-color, text-decoration-color, fill, stroke,
      --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }
}
